body{
    background-color: black;
}
.homeScreen {
  //background-image: url('../assets/AdobeStock_286321598_Preview.jpeg');
  //background-image: url('../assets/AdobeStock_286321598_Preview.jpeg') !important;

  background-size: cover; // Adjust as per your requirement
  background-position: center; // Adjust as per your requirement
  background-color: black;
}
